.pagination {
    ul {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;

        li {
            background-color: transparent;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $primary-color;



            a {
                color: $primary-color;
                display: block;
                font-size: 14px;
            }
        }

        .prev,
        .next {
            background-color: $primary-color;
            height: 35px;
            width: 65px;
            padding: 5px 15px;
            border-radius: 38px;

            a {
                color: $white-color;
            }
        }

        .pagination-dot {
            border: none;
            color: $primary-color;
        }
    }
}