/* Form */
.form-area {
    margin-top: -33px;
    z-index: 1;
    overflow: hidden;

    .form-box {
        padding-left: 40px;
        padding-right: 40px;
        box-shadow: 0px 25px 60px 0px rgba(0, 21, 100, 0.1);
        background: $white-color;
        position: relative;

        .form-shapes {
            img {
                width: inherit;
            }

            .fs-1 {
                position: absolute;
                top: 0;
                left: -14px;
            }

            .fs-2 {
                position: absolute;
                top: 0;
                right: -14px;
            }

            .fs-3 {
                position: absolute;
                top: 97px;
                left: 115px;
                width: 70px;
            }

            .fs-4 {
                position: absolute;
                top: 97px;
                right: 115px;
                width: 70px;
            }

            .fs-5 {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 70px;

                @include sm-divice {
                    display: none;
                }
            }

            .fs-6 {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 70px;

                @include sm-divice {
                    display: none;
                }
            }

            .fs-7 {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 70px;
            }

            .fs-8 {
                position: absolute;
                bottom: 0px;
                left: 50%;
                width: 50px;
            }
        }

        @include sm-divice {
            background-image: inherit;
        }

        @include tablet {
            background-image: inherit;
        }

        .form-wraper {
            .form-item2 {
                width: 23%;
                padding: 15px 20px;
                border: 1px solid rgb(229, 229, 229);
                border-radius: 5px;
                margin-right: 10px;

                @include tablet {
                    width: 100%;
                    margin-bottom: 20px;
                }

                @include sm-divice {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            button {
                background: $primary-color;
                padding: 12px 40px;
                color: $white-color;
                font-size: 16px;
                font-family: $heading-font;
                font-weight: 600;
                text-transform: capitalize;
                border: 1px solid transparent;
                transition: 0.3s;

                &:hover {
                    background: transparent;
                    color: $primary-color;
                    border: 1px solid $primary-color;
                }

                @include tablet {
                    width: 100%;
                }

                @include sm-divice {
                    width: 100%;
                }
            }
        }
    }
}

// newsletter
.newsletter {
    margin-bottom: 20px;

    form {
        display: flex;

        @include large() {
            margin-top: 5px;
        }
    }

    input {
        background: transparent;
        border: 1px solid $border-color;
        color: $white-color;
        padding: 10px;
        background: $black-color;
        text-transform: capitalize;

        @include desktop {
            width: 75%;
        }
    }

    button {
        background: $primary-color;
        color: $white-color;
        border: 1px solid transparent;
        padding: 10px 20px;
        margin-left: -13px;

        @include desktop {
            margin-left: -4px;
            width: 25%;
        }
    }

    &.newsletter-2 {
        form {
            display: block;
        }

        select {
            background: transparent;
            border: 1px solid $border-color;
            color: $secondary-color;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        input {
            color: $secondary-color;
            width: 100%;
            border-radius: 5px;
            margin-bottom: 10px;
            background: $white-color;
        }

        .btn {
            border-radius: 5px;
            padding: 10px 55px;
            margin-left: 3px;
            width: 100%;

            &:hover {
                background: transparent;
                color: $primary-color;
                border: 1px solid $primary-color;
            }
        }
    }

    &.newsletter-3 {
        @include portrait-phone {
            justify-content: center;
        }

        form {
            position: relative;
        }

        input {
            padding: 12px 70px 12px 20px;
            border-radius: 10px;
            width: 100%;
            background: $bg-color;
            color: $secondary-color;
        }

        button {
            position: absolute;
            right: 2%;
            top: 13%;
            background-color: $home3_primary-color;
            padding: 5px 16px;
            border-radius: 10px;
            border: 1px solid transparent;
        }
    }

    &.newsletter-4 {
        button {
            background: $home4-primary-color !important;

            @include desktop {
                right: 3%;
                top: -3%;
                padding: 4px 8px;
            }
        }
    }
}

// contact us page
.writeto-us {
    .contact-form-area {
        box-shadow: 0px 25px 60px 0px rgba(0, 21, 100, 0.1);
        background: $white-color;
        padding: 40px 22px;

        h3 {
            font-weight: 700;
            margin-bottom: 40px;

            span {
                color: $primary-color;
            }
        }

        form {
            input {
                width: 100%;
                margin-bottom: 20px;
                padding: 20px 40px;
                border: 1px solid $border-color2;
                border-radius: 5px;
                text-transform: capitalize;
            }

            textarea {
                width: 100%;
                padding: 20px 40px;
                border: 1px solid $border-color2;
                border-radius: 5px;
                text-transform: capitalize;
            }

            button {
                margin-top: 30px;
            }
        }
    }
}

// home4-contact-form
.home4-contact-form {
    input {
        width: 100%;
        margin-bottom: 20px;
        padding: 20px 40px;
        border: 1px solid $border-color2;
        border-radius: 5px;
        text-transform: capitalize;
    }

    textarea {
        width: 100%;
        padding: 20px 40px;
        border: 1px solid $border-color2;
        border-radius: 5px;
        text-transform: capitalize;
    }

    ::placeholder {
        opacity: 0.8;
    }
}